@media all and (min-width: 700px) {

    /*tablet menu*/
    .menu {
        justify-content: center;
    }
    
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    
    /* Desktop menu */
    @media all and (min-width: 960px) {
        .menu {
            align-items: flex-start;
            flex-wrap: nowrap;
            background: none;
        }
    
        .item {
            order: 1;
            position: relative;
            display: block;
            width: auto;
        }
    
        .toggle {
            display: none;
        }
    }
    
    }