@media all and (min-width: 600px) {

    /*TABLET VERSION*/
    .menu {
        justify-content: center;
    }
    
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    
    /* DESKTORP VERSION */
    @media all and (min-width: 960px) {
        .menu {
            align-items: flex-start;
            flex-wrap: nowrap;
            background: none;
        }
    
        .item {
            order: 1;
            position: relative;
            display: block;
            width: auto;
        }
    
        .toggle {
            display: none;
        }
     }
     
    }