* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: lightgray;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  width: 100%;
  text-align: center;
  font-size: 16px;

}

img {
  padding: 2px;
  margin: 24px;
  border-radius: 1000rem;
}

nav {
  background-color: #333;
  padding: 0 15px;
}

a {
  color: white;
  text-decoration: none;
}

.menu {
  list-style-type: none;
}

.item {
  padding: 10px;
}

/*mobil*/

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

  section {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    margin: 20px;
    padding: 20px;

  }
  
.footer-container {
  display: flex;
  flex-direction: row;
} 

.footer-ul {
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  list-style-type: none;
  gap: 1.5rem;
}

footer a:hover {
  color: pink;
  font-size: 110%;
}







  

